<div class=head>
  <%= image_tag "rails.png" %>
  <div id=nav>
    <ul>
      <li>
        <%= link_to "Home", controller: "welcome" %>
      </li>
      <li>
	<%= link_to "Student Registration", controller: "students" %>
      </li>
      <li>
        <%= link_to "Course Registration", controller: "courses" %>
      </li>
      <li>
        <%= link_to "Sign Up", controller: "people", action: "new" %>
      </li>
      <li>
        <%= link_to "Sign In", controller: "sessions", action: "new" %>
      </li>
    </ul>
  </div>
</div>