<p id="notice"><%= notice %></p>

<p>
  <b>Courseid:</b>
  <%= @course.courseID %>
</p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Roomnumber:</b>
  <%= @course.roomNumber %>
</p>

<p>
  <b>Prefix:</b>
  <%= @course.prefix %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
